In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

# DATA

In [2]:
news_df = pd.read_excel('goldnews-investingdotcom.xlsx',parse_dates=['Date'],index_col='Date')

In [3]:
news_df.head()

,Title1,Reference1,Title2,Reference2,Title3,Reference3,Unnamed: 7,Unnamed: 8
Date,,,,,,,,
2021-07-03,Baby boomers face financial distress and age d...,https://www.marketwatch.com/story/baby-boomers...,Gold-Obsessed Young Indians Invest Heavily In ...,https://www.cryptovibes.com/blog/2021/07/03/go...,"Gold Struggling On The Floor, Buy The Dip",https://www.cryptovibes.com/blog/2021/07/03/go...,NaN,NaN
2021-07-02,NV Gold President/CEO resigns,https://seekingalpha.com/news/3712401-nv-gold-...,Price of Gold Fundamental Daily Forecast – NFP...,https://www.fxempire.com/forecasts/article/pri...,"Gold ticks up, and the dollar index slides in ...",https://seekingalpha.com/news/3712397-gold-tic...,NaN,NaN
2021-07-01,Price of Gold Fundamental Daily Forecast – Mor...,https://www.fxempire.com/forecasts/article/pri...,"Daily Gold News: Thursday, July 1 – Gold Getti...",https://www.fxempire.com/forecasts/article/dai...,"Gold logs back-to-back gains to start July, se...",https://www.marketwatch.com/story/gold-aims-fo...,NaN,NaN
2021-06-30,The Last Trading Day of the First Half of 2021...,https://www.fxempire.com/forecasts/article/the...,Global shares fall on pandemic fears ahead of ...,https://www.investing.com/news/economy/asian-s...,Gold Records Worst Monthly Loss in Five Years ...,https://www.investing.com/news/commodities-new...,NaN,NaN
2021-06-29,Gold Heads for Worst Month Since 2016 on Dolla...,https://www.investing.com/news/commodities-new...,Global shares edge lower on new COVID-19 outbr...,https://www.investing.com/news/economy/asian-s...,Gold Drops as the U.S. Central Bank’s Vaguenes...,https://www.fxempire.com/forecasts/article/gol...,NaN,NaN

In [4]:
news_df.columns

Index(['Title1', 'Reference1', 'Title2', 'Reference2', 'Title3', 'Reference3',
       'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [5]:
news_df.drop(['Unnamed: 7', 'Unnamed: 8'],axis=1, inplace=True)

In [6]:
news_df.head()

,Title1,Reference1,Title2,Reference2,Title3,Reference3
Date,,,,,,
2021-07-03,Baby boomers face financial distress and age d...,https://www.marketwatch.com/story/baby-boomers...,Gold-Obsessed Young Indians Invest Heavily In ...,https://www.cryptovibes.com/blog/2021/07/03/go...,"Gold Struggling On The Floor, Buy The Dip",https://www.cryptovibes.com/blog/2021/07/03/go...
2021-07-02,NV Gold President/CEO resigns,https://seekingalpha.com/news/3712401-nv-gold-...,Price of Gold Fundamental Daily Forecast – NFP...,https://www.fxempire.com/forecasts/article/pri...,"Gold ticks up, and the dollar index slides in ...",https://seekingalpha.com/news/3712397-gold-tic...
2021-07-01,Price of Gold Fundamental Daily Forecast – Mor...,https://www.fxempire.com/forecasts/article/pri...,"Daily Gold News: Thursday, July 1 – Gold Getti...",https://www.fxempire.com/forecasts/article/dai...,"Gold logs back-to-back gains to start July, se...",https://www.marketwatch.com/story/gold-aims-fo...
2021-06-30,The Last Trading Day of the First Half of 2021...,https://www.fxempire.com/forecasts/article/the...,Global shares fall on pandemic fears ahead of ...,https://www.investing.com/news/economy/asian-s...,Gold Records Worst Monthly Loss in Five Years ...,https://www.investing.com/news/commodities-new...
2021-06-29,Gold Heads for Worst Month Since 2016 on Dolla...,https://www.investing.com/news/commodities-new...,Global shares edge lower on new COVID-19 outbr...,https://www.investing.com/news/economy/asian-s...,Gold Drops as the U.S. Central Bank’s Vaguenes...,https://www.fxempire.com/forecasts/article/gol...

# News Title Data

In [7]:
# create a data of only the news titles
news_titles_df = news_df[['Title1','Title2','Title3']]
news_titles_df.sample(2)

,Title1,Title2,Title3
Date,,,
2021-06-02,Gold Holds Near Five-Month High as Investors W...,Transitory or Sticky? Gold Investors Ponder th...,Goldman Sachs: Bitcoin Is an Alternative Infla...
2021-04-30,Shark Tank's Kevin O'Leary Says 'Bitcoin Will ...,Bounce in Gold Complete: $1620s Next?,Gold Pricing Continues to React to Higher Yiel...

In [8]:
# fill na with an empty string
news_titles_df.fillna('', inplace=True)

C:\Users\matar\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [9]:
news_titles_df['text'] = news_titles_df[['Title1', 'Title2', 'Title3']].agg('\n'.join, axis=1)

C:\Users\matar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
print(news_titles_df['text'][0])

Baby boomers face financial distress and age discrimination
Gold-Obsessed Young Indians Invest Heavily In Crypto
Gold Struggling On The Floor, Buy The Dip

# Text Wrangling & Pre-processing

In [23]:
import spacy
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
import re
from bs4 import BeautifulStoneSoup
from contractions import CONTRACTION_MAP
import unicodedata

nlp = spacy.load('en_core_web_sm',parse=True, tag=True, entity= True)
#nlp_vec = spacy.load('en_vecs',parse=True, tag=True, entity= True)
tokenizer = ToktokTokenizer()
stopword_list = nltk.corpus.stopwords.words('english')
stopword_list.remove('no')
stopword_list.remove('not')

# Removing HTML tags

In [17]:
def strip_html_tags(text):
    soup = BeautifulSoup(text,'html.parser')
    stripped_text =  soup.get_text()
    return stripped_text

In [18]:
strip_html_tags('<html><h2>Some important text</h2></html>')

'Some important text'

# Removing accented characters

In [21]:
def remove_accented_chars(text):
    text = unicodedata.normalize('NFKD',text).encode('ascii','ignore').decode('utf-8')
    
    return text

In [24]:
remove_accented_chars('Sómě Áccěntěd těxt')

'Some Accented text'

# Expanding Contractions

In [26]:
def expand_contractions(text, contraction_mapping=CONTRACTION_MAP):
    
    contractions_pattern = re.compile('({})'.format('|'.join(contraction_mapping.keys())), 
                                      flags=re.IGNORECASE|re.DOTALL)
    def expand_match(contraction):
        match = contraction.group(0)
        first_char = match[0]
        expanded_contraction = contraction_mapping.get(match)\
                                if contraction_mapping.get(match)\
                                else contraction_mapping.get(match.lower())                       
        expanded_contraction = first_char+expanded_contraction[1:]
        return expanded_contraction
        
    expanded_text = contractions_pattern.sub(expand_match, text)
    expanded_text = re.sub("'", "", expanded_text)
    return expanded_text

In [27]:
expand_contractions("Y'all can't expand contractions I'd think")

'You all cannot expand contractions I would think'

# Removing Special Characters

In [29]:
def remove_special_characters(text, remove_digits=False):
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

In [30]:
remove_special_characters("Well this was fun! What do you think? 123#@!", 
                          remove_digits=True)

'Well this was fun What do you think '

# Stemming

In [31]:
def simple_stemmer(text):
    ps = nltk.porter.PorterStemmer()
    text = ' '.join([ps.stem(word) for word in text.split()])
    return text

In [32]:
simple_stemmer("My system keeps crashing his crashed yesterday, ours crashes daily")

'My system keep crash hi crash yesterday, our crash daili'

# Lemmatization

In [33]:
def lemmatize_text(text):
    text = nlp(text)
    text = ' '.join([word.lemma_ if word.lemma_ != '-PRON-' else word.text for word in text])
    return text

In [34]:
lemmatize_text("My system keeps crashing! his crashed yesterday, ours crashes daily")

'My system keep crash ! his crash yesterday , ours crash daily'

# Removing Stopwords

In [35]:
def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

In [36]:
remove_stopwords("The, and, if are stopwords, computer is not")

', , stopwords , computer not'

# Building a Text Normalizer

In [37]:
def normalize_corpus(corpus, html_stripping=True, contraction_expansion=True,
                     accented_char_removal=True, text_lower_case=True, 
                     text_lemmatization=True, special_char_removal=True, 
                     stopword_removal=True, remove_digits=True):
    
    normalized_corpus = []
    # normalize each document in the corpus
    for doc in corpus:
        # strip HTML
        if html_stripping:
            doc = strip_html_tags(doc)
        # remove accented characters
        if accented_char_removal:
            doc = remove_accented_chars(doc)
        # expand contractions    
        if contraction_expansion:
            doc = expand_contractions(doc)
        # lowercase the text    
        if text_lower_case:
            doc = doc.lower()
        # remove extra newlines
        doc = re.sub(r'[\r|\n|\r\n]+', ' ',doc)
        # lemmatize text
        if text_lemmatization:
            doc = lemmatize_text(doc)
        # remove special characters and\or digits    
        if special_char_removal:
            # insert spaces between special characters to isolate them    
            special_char_pattern = re.compile(r'([{.(-)!}])')
            doc = special_char_pattern.sub(" \\1 ", doc)
            doc = remove_special_characters(doc, remove_digits=remove_digits)  
        # remove extra whitespace
        doc = re.sub(' +', ' ', doc)
        # remove stopwords
        if stopword_removal:
            doc = remove_stopwords(doc, is_lower_case=text_lower_case)
            
        normalized_corpus.append(doc)
        
    return normalized_corpus

In [41]:
# pre-process text and store the same
news_titles_df['clean_text'] = normalize_corpus(news_titles_df['text'])

C:\Users\matar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
news_titles_df.head()

,Title1,Title2,Title3,text,clean_text
Date,,,,,
2021-07-03,Baby boomers face financial distress and age d...,Gold-Obsessed Young Indians Invest Heavily In ...,"Gold Struggling On The Floor, Buy The Dip",Baby boomers face financial distress and age d...,baby boomer face financial distress age discri...
2021-07-02,NV Gold President/CEO resigns,Price of Gold Fundamental Daily Forecast – NFP...,"Gold ticks up, and the dollar index slides in ...",NV Gold President/CEO resigns\nPrice of Gold F...,nv gold president ceo resign price gold fundam...
2021-07-01,Price of Gold Fundamental Daily Forecast – Mor...,"Daily Gold News: Thursday, July 1 – Gold Getti...","Gold logs back-to-back gains to start July, se...",Price of Gold Fundamental Daily Forecast – Mor...,price gold fundamental daily forecast position...
2021-06-30,The Last Trading Day of the First Half of 2021...,Global shares fall on pandemic fears ahead of ...,Gold Records Worst Monthly Loss in Five Years ...,The Last Trading Day of the First Half of 2021...,last trading day first half conclude gold incu...
2021-06-29,Gold Heads for Worst Month Since 2016 on Dolla...,Global shares edge lower on new COVID-19 outbr...,Gold Drops as the U.S. Central Bank’s Vaguenes...,Gold Heads for Worst Month Since 2016 on Dolla...,gold head bad month since dollar strength feed...

In [43]:
norm_corpus = list(news_titles_df['clean_text'])

In [45]:
# show a sample news article
news_titles_df.iloc[1][['text', 'clean_text']].to_dict()

{'text': "NV Gold President/CEO resigns\nPrice of Gold Fundamental Daily Forecast – NFP Disappointing for Those Betting on Easy Policy Decision for Fed\nGold ticks up, and the dollar index slides in first reaction to Friday's jobs reports",
 'clean_text': 'nv gold president ceo resign price gold fundamental daily forecast nfp disappointing bet easy policy decision fed gold tick dollar index slide first reaction friday job report'}

# Tagging Parts of Speech

In [47]:
# create a basic pre-processed corpus, don't lowercase to get POS context
corpus = normalize_corpus(news_titles_df['text'], text_lower_case=False, 
                          text_lemmatization=False, special_char_removal=False)

In [48]:
# demo for POS tagging for sample news title 1
sentence = str(news_titles_df.iloc[1].Title1)
sentence_nlp = nlp(sentence)

In [49]:
# POS tagging with Spacy 
spacy_pos_tagged = [(word, word.tag_, word.pos_) for word in sentence_nlp]
pd.DataFrame(spacy_pos_tagged, columns=['Word', 'POS tag', 'Tag type'])

        Word POS tag Tag type
0         NV     NNP    PROPN
1       Gold     NNP    PROPN
2  President     NNP    PROPN
3          /     SYM      SYM
4        CEO     NNP    PROPN
5    resigns     VBZ     VERB

In [50]:
# POS tagging with nltk
nltk_pos_tagged = nltk.pos_tag(sentence.split())
pd.DataFrame(nltk_pos_tagged, columns=['Word', 'POS tag'])

            Word POS tag
0             NV     NNP
1           Gold     NNP
2  President/CEO     NNP
3        resigns      NN

# Named Entity Recognition

In [51]:
from spacy import displacy

In [52]:
sentence = str(news_titles_df.iloc[1].text)
sentence_nlp = nlp(sentence)

# print named entities in article
print([(word, word.ent_type_) for word in sentence_nlp if word.ent_type_])

# visualize named entities
displacy.render(sentence_nlp, style='ent', jupyter=True)

[(NV, 'ORG'), (Gold, 'ORG'), (Fundamental, 'ORG'), (Daily, 'ORG'), (Forecast, 'ORG'), (Fed, 'ORG'), (first, 'ORDINAL'), (Friday, 'DATE')]

In [53]:
named_entities = []
for sentence in corpus:
    temp_entity_name = ''
    temp_named_entity = None
    sentence = nlp(sentence)
    for word in sentence:
        term = word.text 
        tag = word.ent_type_
        if tag:
            temp_entity_name = ' '.join([temp_entity_name, term]).strip()
            temp_named_entity = (temp_entity_name, tag)
        else:
            if temp_named_entity:
                named_entities.append(temp_named_entity)
                temp_entity_name = ''
                temp_named_entity = None

entity_frame = pd.DataFrame(named_entities, 
                            columns=['Entity Name', 'Entity Type'])

In [54]:
# get the top named entities
top_entities = (entity_frame.groupby(by=['Entity Name', 'Entity Type'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0 : 'Frequency'}))
top_entities.T.iloc[:,:15]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Entity Name,XAUUSD,U.S.,Fed,Bitcoin,Q1,Treasury,US,"1,741",Two - Month,1900,Four - Month,Four - Week,Three,"1,900",One
Entity Type,ORG,GPE,ORG,GPE,CARDINAL,ORG,GPE,MONEY,DATE,MONEY,DATE,DATE,CARDINAL,MONEY,CARDINAL
Frequency,22,21,9,9,7,6,4,4,4,4,4,3,3,3,3

In [55]:
# get the top named entity types
top_entities = (entity_frame.groupby(by=['Entity Type'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0 : 'Frequency'}))
top_entities.T.iloc[:,:15]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Entity Type,ORG,DATE,PERSON,MONEY,GPE,CARDINAL,PERCENT,ORDINAL,NORP,WORK_OF_ART,PRODUCT,LAW,FAC,LOC
Frequency,127,71,65,61,43,24,10,8,6,5,3,2,2,1

# Sentiment Analysis with AFINN Lexicon

In [56]:
# initialize afinn sentiment analyzer
from afinn import Afinn
af = Afinn()

In [59]:
# compute sentiment scores (polarity) and labels
sentiment_scores = [af.score(article) for article in corpus]
sentiment_category = ['positive' if score > 0 
                          else 'negative' if score < 0 
                              else 'neutral' 
                                  for score in sentiment_scores]

In [60]:
list(sentiment_scores)

[2.0,
 4.0,
 10.0,
 -4.0,
 2.0,
 3.0,
 3.0,
 6.0,
 2.0,
 9.0,
 8.0,
 3.0,
 5.0,
 5.0,
 4.0,
 1.0,
 2.0,
 1.0,
 2.0,
 8.0,
 -1.0,
 4.0,
 0.0,
 5.0,
 3.0,
 9.0,
 6.0,
 2.0,
 3.0,
 4.0,
 6.0,
 6.0,
 5.0,
 8.0,
 6.0,
 5.0,
 5.0,
 7.0,
 9.0,
 2.0,
 6.0,
 8.0,
 5.0,
 0.0,
 7.0,
 5.0,
 6.0,
 6.0,
 2.0,
 4.0,
 2.0,
 8.0,
 4.0,
 8.0,
 3.0,
 2.0,
 4.0,
 1.0,
 4.0,
 8.0,
 5.0,
 6.0,
 1.0,
 3.0,
 5.0,
 7.0,
 6.0,
 5.0,
 0.0,
 7.0,
 9.0,
 6.0,
 6.0,
 6.0,
 4.0,
 8.0,
 3.0,
 10.0,
 12.0,
 9.0,
 8.0,
 8.0,
 9.0,
 5.0,
 2.0,
 13.0,
 5.0,
 12.0,
 7.0,
 7.0,
 3.0,
 2.0,
 6.0,
 6.0,
 9.0,
 4.0,
 5.0,
 4.0,
 5.0,
 4.0,
 6.0,
 6.0,
 8.0,
 6.0,
 2.0,
 9.0,
 7.0,
 5.0,
 6.0,
 4.0,
 12.0,
 2.0,
 8.0,
 11.0,
 8.0,
 8.0,
 6.0,
 9.0,
 2.0,
 9.0,
 5.0,
 8.0,
 6.0,
 3.0,
 5.0,
 4.0,
 4.0,
 2.0,
 8.0,
 -2.0,
 9.0,
 11.0,
 10.0,
 2.0,
 6.0,
 4.0,
 8.0,
 -1.0,
 6.0,
 0.0,
 6.0,
 5.0,
 6.0,
 6.0,
 7.0,
 3.0,
 10.0,
 8.0,
 4.0,
 5.0,
 6.0,
 11.0,
 9.0,
 2.0,
 2.0,
 4.0,
 8.0,
 3.0,
 5.0,
 0.0,
 3.0,
 0.0,
 6.0,
 8.0,
 16.0,
 7.0,
 5.0,
 9.0,
 3.0,
 3.0,
 5.0,
 8.0,
 6.0,
 3.0,
 4.0,
 4.0,
 -1.0,
 8.0,
 7.0,
 8.0,
 1.0,
 5.0,
 8.0,
 6.0]

In [65]:
# sentiment statistics per news category
df = pd.DataFrame([list(news_titles_df['text']), sentiment_scores, sentiment_category]).T
df.columns = ['text', 'sentiment_score', 'sentiment_category']
df['sentiment_score'] = df.sentiment_score.astype('float')

In [68]:
df.head()

,text,sentiment_score,sentiment_category
0,Baby boomers face financial distress and age d...,2.0,positive
1,NV Gold President/CEO resigns\nPrice of Gold F...,4.0,positive
2,Price of Gold Fundamental Daily Forecast – Mor...,10.0,positive
3,The Last Trading Day of the First Half of 2021...,-4.0,negative
4,Gold Heads for Worst Month Since 2016 on Dolla...,2.0,positive

In [69]:
df.groupby(by=['sentiment_category']).describe()

                   sentiment_score                                          \
                             count      mean       std  min  25%  50%  75%
sentiment_category
negative                       5.0 -1.800000  1.303840 -4.0 -2.0 -1.0 -1.0
neutral                        6.0  0.000000  0.000000  0.0  0.0  0.0  0.0
positive                     173.0  5.710983  2.729628  1.0  4.0  6.0  8.0


                     max
sentiment_category
negative            -1.0
neutral              0.0
positive            16.0

In [71]:
pos_idx = df[(df.sentiment_category=='negative') & (df.sentiment_score == -4)].index[0]
neg_idx = df[(df.sentiment_category=='positive') & (df.sentiment_score == 16)].index[0]

print('Most Negative  News Article:', news_titles_df.iloc[neg_idx][['text']][0])
print()
print('Most Positive  News Article:', news_titles_df.iloc[pos_idx][['text']][0])

Most Negative  News Article: Gold Holds Gain as Investors Look to Stimulus, Weakening Dollar
Gold Up, Investors Book Profits in Wake of Stimulus Hopes-Induced Price Rise
Gold Price Prediction – Prices Rise in Tight Range as Momentum Turns Positive

Most Positive  News Article: The Last Trading Day of the First Half of 2021 Concludes, and Gold Incurs Losses
Global shares fall on pandemic fears ahead of U.S. jobs report
Gold Records Worst Monthly Loss in Five Years on Fed ‘Taper-Tantrum’